<div class="row">
  <div class="col text-center">
    <h3>Proveedores</h3>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <td>ID</td>
          <td>Nombre</td>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of proveedores">
          <td>{{item.id}}</td>
          <td>{{item.razon_social}}</td>
          <td><button class="btn btn-primary" [routerLink]="['/formulario', item.id]">Editar</button></td>
          <td><button class="btn btn-danger" (click)="eliminar(item.id)">Eliminar</button></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
